body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: #eee;
}

blockquote {
  font-style: italic;
  max-width: 545px;
  margin: auto;
  text-align: left;
}
cite {
  text-align: left;
}

fieldset {
  margin: auto;
  max-width: 550px;
}

h4 {
  margin: auto;
  max-width: 645px;
}

#title {
  text-align: center;
}

@media (max-width: 460px) {
  #main {
    margin: 0;
  }
  #img-caption {
    font-size: 1.4rem;
  }
}

#img-div {
  background: white;
  padding: 10px;
  margin: 0;
}

#image {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#img-caption {
  text-align: center;
  margin: 15px 0 5px 0;
}

#title {
  font-family: 'Lora', serif;/*'Poppins', sans-serif;*/
}

#headline {
  margin: auto;
  font-size:1.2em;
  font-weight: 800;
}

a {
  color: #0000ff;
  text-decoration: none;
}

a:hover {
  color: #ff00ff;
}

a:visited {
  font-weight: bolder;
  color: #00ff00;
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

li {
  margin: 16px 0;
}
